

    <div class="auth-body">
        <div class="auth-wraper">
            <div class="auth-featured">
                <img src="./images/01.jpg" alt="">
            </div>
            <div class="auth-form">
                <h2>Sign In</h2>
                
                <% if (message) { %>
                    <p

                    <% if (bg) { %>
                        
                        style="padding: 5px; color: white; background-color: <%= bg %> ; "
                        <% } else { %>
                        style="padding: 5px; color: white; background-color: red ; "
                    <% } %>
                     
                     ><%= message %> 

                        <% if (resend) { %>
                            <a href="/resend" style="color: white; background-color: rgb(12, 49, 255) ;text-decoration:underline; cursor: pointer;padding: 0 4px;">Resend!</a> Email?
                        <% } %>

                    </p>
                   <% } %>

                   

                <div class="form-wraper">
                    <form action="/login" method="post">
                        <div class="form-group">
                            <label for="">Email</label>
                            <input name="email" type="text">
                        </div>
                        <div class="form-group">
                            <label for="">Password</label>
                            <input name="password" type="password">
                        </div>
                        <div class="form-group">
                            <button type="submit">Log In</button>
                        </div>
                    </form>
                </div>
                <div class="utility">
                    <a href="/forget-email-send">Forgot password</a>
                    <a href="/register">Create an account</a>
                </div>
                <div class="social-login">
                    <a href="#"><i class="fa fa-facebook"></i></a>
                    <a href="#"><i class="fa fa-google"></i></a>
                    <a href="#"><i class="fa fa-github"></i></a>
                </div>
            </div>
        </div>
    </div>

