

    <div class="profile-body">

        <div class="profile-wraper">
            <div class="profile-info">
                
                <%- include ('layouts/info') %> 

                <hr>
                <%- include ('layouts/menu') %> 
            </div>
            <div class="profile-box"> 
                <div class="box-content" style="padding: 29px 49px;">
                   <h2>Change Password</h2>

                   <% if (message) { %>
                    <p 
                    <% if (bg) { %>
        
                        style="padding: 5px; color: white; background-color: <%= bg %> ; "
                        <% } else { %>
                        style="padding: 5px; color: white; background-color: red ; "
                    <% } %>
                    
                    ><%= message %> </p>
                   <% } %>

                    <hr>
                    <div class="form-wraper">
                        <form action="/password" method="post">
                            <div class="form-group">
                                <label for="">Old Password</label>
                                <input name="oldPass" type="password">
                            </div>
                            <div class="form-group">
                                <label for="">New Password</label>
                                <input name="newPass" type="password">
                            </div>

                            <div class="form-group">
                                <label for="">Confirm Password</label>
                                <input name="confirmPass" type="password">
                            </div>
                            <div class="form-group">
                                <button>Update</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>